.competencies-items {
  margin-bottom: 92px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}

.competencies-title {
  padding-bottom: 80px;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -0.03em;
}

.competencies-item {
  width: calc(50% - 24px);
}

.competencies-item img {
  padding-bottom: 12px;
}

.competencies-item h3 {
  padding-bottom: 15px;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: -0.03em;
  color: #1bff07;
}

.competencies-item p {
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.03em;
  color: white;
}

@media (max-width: 1199px) {
  .competencies-title {
    padding-bottom: 60px;
    font-size: 45px;
    line-height: 58px;
  }
  .competencies-items {
    margin-bottom: 152px;
    row-gap: 36px;
  }

  .competencies-item {
    width: calc(50% - 18px);
  }

  .competencies-item img {
    width: 36px;
    padding-bottom: 10px;
  }

  .competencies-item h3 {
    padding-bottom: 13px;
    font-size: 28px;
    line-height: 36px;
  }

  .competencies-item p {
    font-size: 18px;
    line-height: 23px;
  }
}

@media (max-width: 767px) {
  .competencies-title {
    padding-bottom: 35px;
  }

  .competencies-items {
    margin-bottom: 103px;
    row-gap: 60px;
    flex-direction: column;
  }

  .competencies-item {
    width: 100%;
  }

  .competencies-item h3 {
    padding-bottom: 15px;
  }
}
