.services-title {
  padding-bottom: 80px;
  width: 403px;
  font-size: 35px;
  line-height: 46px;
  letter-spacing: -0.03em;
  color: white;
}

.services-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.services-item {
  padding-bottom: 40px;
  width: 100%;
}

.services-item-img {
  width: 100%;
}

.services-item:last-child {
  padding-bottom: 150px;
}

.services-item-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 283px;
  padding: 40px 60px 0 40px;
  background: #191c19;
  border-radius: 30px;
}

.services-item-description h3 {
  max-width: 470px;
  left: 40px;
  top: 25px;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -0.03em;
  color: #1bff07;
}

.services-item-description p {
  max-width: 525px;
  right: 40px;
  top: 45px;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.03em;
  color: white;
}

@media (max-width: 1199px) {
  .services-title {
    padding-bottom: 58px;
    max-width: 326px;
    font-size: 28px;
    line-height: 37px;
  }

  .services-item {
    padding-bottom: 32px;
  }

  .services-item-description {
    padding: 32px 48px 0 32px;
    min-height: 230px;
    border-radius: 24px;
  }

  .services-item-description h3 {
    max-width: 358px;
    left: 32px;
    top: 32px;
    font-size: 45px;
    line-height: 50px;
  }

  .services-item-description p {
    max-width: 378px;
    right: 36px;
    top: 36px;
    font-size: 18px;
    line-height: 23px;
  }

  .services-item:last-child {
    padding-bottom: 110px;
  }
}

@media (max-width: 767px) {
  .services-items {
    flex-direction: column;
    gap: 0;
  }

  .services-item {
    padding-bottom: 60px;
  }

  .services-item-description {
    flex-direction: column;
    padding: 30px 20px 20px 20px;
  }

  .services-item-description h3 {
    max-width: 100%;
    margin-bottom: 15px;
    left: 21px;
    top: 30px;
    font-size: 35px;
    line-height: 39px;
  }

  .services-item-description p {
    max-width: 100%;
    left: 21px;
    font-size: 18px;
    top: 123px;
  }

  .services-item:last-child {
    padding-bottom: 100px;
  }
}
